<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/clonedata/static/layui/css/layui.css" media="all">
    <script src="/clonedata/static/layui/layui.js" charset="utf-8"></script>
</head>
<body style="text-align:center;background-color: #F2F2F2;">
<form class="layui-form" action="" style="margin: 5% 5%">
    <div class="layui-form-item">
        <label class="layui-form-label">任务名称</label>
        <div class="layui-input-block">
            <input type="taskName" name="taskName" lay-verify="required" value="豆瓣  电影  中国大陆  " placeholder="请输入任务名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行计划</label>
        <div class="layui-input-block">
            <input type="taskExcutePlan" name="taskExcutePlan" lay-verify="required" value="0 0 0 * * ?" placeholder="请输入cron表达式" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">访问网址</label>
        <div class="layui-input-block">
            <input type="excuteTarget" name="excuteTarget" lay-verify="required" value="http://localhost:8090/douban/doubanMv?paramType=" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">执行计划</label>
        <div class="layui-input-block">
            <select id="taskType" name="taskType">
                <option value="http-get" selected>http-get</option>
                <option value="http-post-form" disabled>http-post-form</option>
                <option value="http-post-json" disabled>http-post-json</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

</body>
</html>
<script>
    layui.use(['element', 'layer', 'jquery','form'], function () {
        var $ = layui.jquery;
        var form = layui.form;

        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                url: "../jobWeb/add"
                , data: JSON.stringify(data.field)
                , type: "post"
                , contentType: "application/json"
                , dataType : "json"
                , success: function (res) {
                    layer.alert(res.msg);
                    if (res.code == 0){
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    }
                }
            })
            return false;
        });
    });
</script>