<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <link rel="stylesheet" href="/clonedata/static/layui/css/layui.css" media="all">
    <script src="/clonedata/static/layui/layui.js" charset="utf-8"></script>
    <script src="/clonedata/static/echarts/echarts.min.js" charset="utf-8"></script>
</head>
<body style="background-color: #F2F2F2;text-align: center">
<div id="main" style="width:100%;height:400px;margin-top: 3%">
</div>
<div style="margin-top: 3%;font-size: 16px">
    <blockquote class="layui-elem-quote layui-quote-nm" id="pool3"></blockquote>
</div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));

    layui.use(['upload', 'table'], function () {
        var $ = layui.jquery;

        function init() {
            $.ajax({
                type: 'get'
                , url: '../page/getDataCntSevenDay'
                , success: function (res) {
                    if (res.code == 0){
                        var mvCnt = res.data.mvCnt;
                        var tvCnt = res.data.tvCnt;
                        var option = {
                            title: {
                                text: '增速图'
                            },
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['电视剧', '电影']
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    data: [getDate(6) + '号', getDate(5) + '号', getDate(4) + '号', getDate(3) + '号', getDate(2) + '号', getDate(1) + '号', getDate(0) + '号']
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: [

                                {
                                    name: '电视剧',
                                    type: 'line',
                                    stack: '总量',
                                    areaStyle: {},
                                    data: tvCnt
                                },
                                {
                                    name: '电影',
                                    type: 'line',
                                    stack: '总量',
                                    label: {
                                        normal: {
                                            show: true,
                                            position: 'top'
                                        }
                                    },
                                    areaStyle: {},
                                    data: mvCnt
                                }
                            ]
                        };

                        myChart.setOption(option);
                    }
                }
            });
            $.ajax({
                url: "../page/dataCount"
                , type: "get"
                , success: function (res) {
                    if (res.code == 0){
                        var html = '';
                        var map =  res.data;
                        for (var x in map){
                            html += x + ':' + map[x] + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                        }
                        $("#pool3").html(html);
                    }
                }
            });
        }

        init();
    });


    function getDate(i) {
        if (i === 0) {
            return new Date().getDate();
        } else {
            return new Date(new Date().getTime() - (60 * 60 * 24 * 1000 * i)).getDate();
        }
    }
</script>
</body>
</html>
