<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
</head>
<body style="text-align:center;background-color: #F2F2F2;">
<h5>5s刷新</h5>
<div style="margin-top: 5%">
    <p>定时任务线程池</p>
    <blockquote class="layui-elem-quote layui-quote-nm" id="pool1"></blockquote>
    <br /><br />
    <p>http线程池</p>
    <blockquote class="layui-elem-quote layui-quote-nm" id="pool2"></blockquote>
</div>


</body>
</html>
<script type="text/javascript">

    layui.use(['table', 'jquery'], function () {
        var $ = layui.jquery
            , table = layui.table;

        function init() {
            $.ajax({
                url: "/page/TaskPoolDetail"
                , type: "get"
                , success: function (res) {
                    if (res.code == 0){
                        var html = '';
                        var map =  res.data;
                        for (var x in map){
                            html += x + ':' + map[x] + '&nbsp;&nbsp;&nbsp;&nbsp;';
                        }
                        $("#pool1").html(html);
                    }
                }
            });
            $.ajax({
                url: "/page/httpclientPoolDetail"
                , type: "get"
                , success: function (res) {
                    if (res.code == 0){
                        var html = '';
                        var map =  res.data;
                        for (var x in map){
                            html += x + ':' + map[x] + '&nbsp;&nbsp;&nbsp;&nbsp;';
                        }
                        $("#pool2").html(html);
                    }
                }
            });
        }

        window.setInterval(function() {
            init();
        },5000);

        init();
    });

</script>