<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zte.clonedata.dao.DoubanTvMapper">
  <resultMap id="BaseResultMap" type="com.zte.clonedata.model.DoubanTv">
    <id column="tvid" jdbcType="VARCHAR" property="tvid" />
    <result column="tvname" jdbcType="VARCHAR" property="tvname" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="scenarist" jdbcType="VARCHAR" property="scenarist" />
    <result column="actors" jdbcType="VARCHAR" property="actors" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="releasedata" jdbcType="VARCHAR" property="releasedata" />
    <result column="runtime" jdbcType="VARCHAR" property="runtime" />
    <result column="ratingnum" jdbcType="VARCHAR" property="ratingnum" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="moviedesc" jdbcType="VARCHAR" property="moviedesc" />
    <result column="p_date" jdbcType="VARCHAR" property="pDate" />
    <result column="aka" jdbcType="VARCHAR" property="aka" />
    <result column="http_image" jdbcType="VARCHAR" property="httpImage" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="episodes_count" jdbcType="VARCHAR" property="episodesCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tvid, tvname, director, scenarist, actors, type, country, language, releasedata, 
    runtime, ratingnum, tags, moviedesc, p_date, aka, http_image, filepath, url, episodes_count
  </sql>
  <select id="selectByExample" parameterType="com.zte.clonedata.model.DoubanTvExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clone_douban_tv_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clone_douban_tv_detail
    where tvid = #{tvid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from clone_douban_tv_detail
    where tvid = #{tvid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zte.clonedata.model.DoubanTvExample">
    delete from clone_douban_tv_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zte.clonedata.model.DoubanTv">
    insert into clone_douban_tv_detail (tvid, tvname, director, 
      scenarist, actors, type, 
      country, language, releasedata, 
      runtime, ratingnum, tags, 
      moviedesc, p_date, aka, 
      http_image, filepath, url, 
      episodes_count)
    values (#{tvid,jdbcType=VARCHAR}, #{tvname,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{scenarist,jdbcType=VARCHAR}, #{actors,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{country,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{releasedata,jdbcType=VARCHAR}, 
      #{runtime,jdbcType=VARCHAR}, #{ratingnum,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{moviedesc,jdbcType=VARCHAR}, #{pDate,jdbcType=VARCHAR}, #{aka,jdbcType=VARCHAR}, 
      #{httpImage,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{episodesCount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zte.clonedata.model.DoubanTv">
    insert into clone_douban_tv_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tvid != null">
        tvid,
      </if>
      <if test="tvname != null">
        tvname,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="scenarist != null">
        scenarist,
      </if>
      <if test="actors != null">
        actors,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="releasedata != null">
        releasedata,
      </if>
      <if test="runtime != null">
        runtime,
      </if>
      <if test="ratingnum != null">
        ratingnum,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="moviedesc != null">
        moviedesc,
      </if>
      <if test="pDate != null">
        p_date,
      </if>
      <if test="aka != null">
        aka,
      </if>
      <if test="httpImage != null">
        http_image,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="episodesCount != null">
        episodes_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tvid != null">
        #{tvid,jdbcType=VARCHAR},
      </if>
      <if test="tvname != null">
        #{tvname,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="scenarist != null">
        #{scenarist,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        #{actors,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="releasedata != null">
        #{releasedata,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        #{runtime,jdbcType=VARCHAR},
      </if>
      <if test="ratingnum != null">
        #{ratingnum,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="moviedesc != null">
        #{moviedesc,jdbcType=VARCHAR},
      </if>
      <if test="pDate != null">
        #{pDate,jdbcType=VARCHAR},
      </if>
      <if test="aka != null">
        #{aka,jdbcType=VARCHAR},
      </if>
      <if test="httpImage != null">
        #{httpImage,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="episodesCount != null">
        #{episodesCount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zte.clonedata.model.DoubanTvExample" resultType="java.lang.Long">
    select count(*) from clone_douban_tv_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clone_douban_tv_detail
    <set>
      <if test="record.tvid != null">
        tvid = #{record.tvid,jdbcType=VARCHAR},
      </if>
      <if test="record.tvname != null">
        tvname = #{record.tvname,jdbcType=VARCHAR},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.scenarist != null">
        scenarist = #{record.scenarist,jdbcType=VARCHAR},
      </if>
      <if test="record.actors != null">
        actors = #{record.actors,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.releasedata != null">
        releasedata = #{record.releasedata,jdbcType=VARCHAR},
      </if>
      <if test="record.runtime != null">
        runtime = #{record.runtime,jdbcType=VARCHAR},
      </if>
      <if test="record.ratingnum != null">
        ratingnum = #{record.ratingnum,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.moviedesc != null">
        moviedesc = #{record.moviedesc,jdbcType=VARCHAR},
      </if>
      <if test="record.pDate != null">
        p_date = #{record.pDate,jdbcType=VARCHAR},
      </if>
      <if test="record.aka != null">
        aka = #{record.aka,jdbcType=VARCHAR},
      </if>
      <if test="record.httpImage != null">
        http_image = #{record.httpImage,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null">
        filepath = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.episodesCount != null">
        episodes_count = #{record.episodesCount,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clone_douban_tv_detail
    set tvid = #{record.tvid,jdbcType=VARCHAR},
      tvname = #{record.tvname,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      scenarist = #{record.scenarist,jdbcType=VARCHAR},
      actors = #{record.actors,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      releasedata = #{record.releasedata,jdbcType=VARCHAR},
      runtime = #{record.runtime,jdbcType=VARCHAR},
      ratingnum = #{record.ratingnum,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      moviedesc = #{record.moviedesc,jdbcType=VARCHAR},
      p_date = #{record.pDate,jdbcType=VARCHAR},
      aka = #{record.aka,jdbcType=VARCHAR},
      http_image = #{record.httpImage,jdbcType=VARCHAR},
      filepath = #{record.filepath,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      episodes_count = #{record.episodesCount,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zte.clonedata.model.DoubanTv">
    update clone_douban_tv_detail
    <set>
      <if test="tvname != null">
        tvname = #{tvname,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="scenarist != null">
        scenarist = #{scenarist,jdbcType=VARCHAR},
      </if>
      <if test="actors != null">
        actors = #{actors,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="releasedata != null">
        releasedata = #{releasedata,jdbcType=VARCHAR},
      </if>
      <if test="runtime != null">
        runtime = #{runtime,jdbcType=VARCHAR},
      </if>
      <if test="ratingnum != null">
        ratingnum = #{ratingnum,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="moviedesc != null">
        moviedesc = #{moviedesc,jdbcType=VARCHAR},
      </if>
      <if test="pDate != null">
        p_date = #{pDate,jdbcType=VARCHAR},
      </if>
      <if test="aka != null">
        aka = #{aka,jdbcType=VARCHAR},
      </if>
      <if test="httpImage != null">
        http_image = #{httpImage,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="episodesCount != null">
        episodes_count = #{episodesCount,jdbcType=VARCHAR},
      </if>
    </set>
    where tvid = #{tvid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zte.clonedata.model.DoubanTv">
    update clone_douban_tv_detail
    set tvname = #{tvname,jdbcType=VARCHAR},
      director = #{director,jdbcType=VARCHAR},
      scenarist = #{scenarist,jdbcType=VARCHAR},
      actors = #{actors,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      releasedata = #{releasedata,jdbcType=VARCHAR},
      runtime = #{runtime,jdbcType=VARCHAR},
      ratingnum = #{ratingnum,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      moviedesc = #{moviedesc,jdbcType=VARCHAR},
      p_date = #{pDate,jdbcType=VARCHAR},
      aka = #{aka,jdbcType=VARCHAR},
      http_image = #{httpImage,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      episodes_count = #{episodesCount,jdbcType=VARCHAR}
    where tvid = #{tvid,jdbcType=VARCHAR}
  </update>
</mapper>